.list-box p {
    color: #000;
    font-weight: 500;
    cursor: pointer;
    margin: 10px 0px 0px 10px!important;
}
.list-box p:hover {
    background-color: #263043;
    color: aqua;
    padding: 3px;
}